@import '../../../styles/variables.scss';

.portfolio-info {
  line-height: 1.2em;

  @media (max-width: $mobile-max) {
    font-size: 40px;
    padding: 50px 40px;
  }

  a {
    display: block;
    margin-top: 7px;
    color: #2459a2;
    text-decoration: none;
  }
}
