@import '../../../styles/variables.scss';

.jishohistory-content {
  height: 100%;
  display: flex;
  flex-direction: column;

  .title-cont {
    @media only screen and (max-width: $mobile-max) {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    h1 {
      color: #E7625A;
      text-shadow: 0 4px 4px rgba(0,0,0,0.25);
      font-size: 60px;
      margin-left: 20px;
      margin-top: 20px;

      @media only screen and (max-width: $mobile-max) {
        margin-left: 0;
        font-size: 100px;
      }
    }
  }

  .jisho-demo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    height: 100%;

    .phone-cont {
      @media only screen and (max-width: $mobile-max) {
        display: none;
      }
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      .phone {
        width: 200px;
        box-shadow: 0 4px 4px rgba(0,0,0,0.25);
        border-radius: 30px;

        .top {
          height: 40px;
          width: 100%;
          border-radius: 30px 30px 0 0;
          background-color: #423E3E;
        }

        .screen {
          overflow: scroll;
          height: 300px;
          background-color: white;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          .searchbar {
            margin-top: 8px;
            border-radius: 5px;
            border: 3px solid #DDDDDD;
            width: 80%;
            height: 30px;
            display: flex;
            align-items: center;

            span {
              margin-left: 6px;
            }
          }

          .entry {
            width: 75%;

            .upper-cont {
              height: 30px;
              display: flex;
              justify-content: space-between;
              align-items: center;

              span {
                font-size: 24px;
              }

              button {
                width: 40%;
                height: 40px;
                background-color: #F9D193;
                border-radius: 5px;
                border: none;
                outline: none;
                transition: box-shadow .3s;
                -webkit-transform: perspective(1px) translateZ(0);
                transform: perspective(1px) translateZ(0);
                box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
                -webkit-transition-property: box-shadow;
                transition-property: box-shadow;
                cursor: pointer;
              }

              button:hover {
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
              }

              button:active {
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
              }

            }

            .def-cont {
              margin-top: 20px;
              .pos {
                color: #929292;
                font-size: 14px;
              }
              .def {
                margin-top: 6px;
                .num {
                  color: #C6C6C6;
                  margin-right: 5px;
                }
                span {
                  display: inline;
                }
              }
            }
          }
        }

        .bottom {
          height: 40px;
          width: 100%;
          border-radius: 0 0 30px 30px;
          background-color: #423E3E;
        }
      }
    }

    .words-cont {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .words {
        .word-el {
          margin-bottom: 15px;
          border-radius: 10px;
          background-color: white;
          box-shadow: 0 4px 4px rgba(0,0,0,.25);
          display: flex;
          justify-content: space-between;
          height: 34px;
          align-items: center;
          width: 250px;
          overflow: hidden;

          @media only screen and (max-width: $mobile-max) {
            width: 800px;
            height: 80px;
            margin-bottom: 40px;
            font-size: 50px;
          }

          .word {
            margin-left: 10px;
          }

          .count-cont {
            background-color: #7D5957;
            width: 20%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
              text-shadow: 0 4px 4px rgba(0,0,0,.25);
            }
          }
        }
      }
    }
  }
}
