$mobile-max: 1000px;
$tablet-min: 521px;
$tablet-max: 970px;
$desktop-min: 971px;
$large-desktop-min: 1800px; 

$header-height: 12vh;
$content-cont-width: 85%;
$content-cont-height: 88%;
$info-width: 25%;
