@import '../../../styles/variables.scss';

.jishohistory-info {
  @media (max-width: $mobile-max) {
    font-size: 40px;
    padding: 50px 40px;
    box-sizing: border-box;
  }

  .desc {
    font-size: 15px;
    line-height: 1.3em;

    @media (max-width: $mobile-max) {
      font-size: 40px;
    }
  }

  .desc-2 {
    margin-top: 1em;
  }

  a {
    text-decoration: none;
    width: 100%;
  }

  .link {
    margin-top: 1em;
    border: 3px solid #ada1a1;
    border-radius: 6px;
    padding: 3px 0;
    width: 100%;
    display: flex;
    justify-content: center;

    color: black;
    transition: border .4s ease-in-out;
  }

  .link:hover {
    border: 3px solid #635757;
  }
}
