@import '../../../styles/variables.scss';

.introduction-info {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.2em;
  flex-wrap: wrap;

  @media (max-width: $mobile-max) {
    font-size: 40px;
    padding: 0 40px;
  }


  .intro {

  }

  .proficiencies-cont {
    margin-top: 1em;

    @media (max-width: $mobile-max) {
      margin-bottom: 1em;
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    li {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
    }

    .proficiency-label {
      width: 100%;
      font-family: 'Roboto', sans-serif;
    }

    svg {
      display: inline;
      width: 100%;
      height: 20px;
    }

    .border-rect {
      stroke: #a6bdc1;
      fill-opacity: 0;
      stroke-width: 5px;

      width: 100%;
      height: 100%;
    }

    .fill-rect {
      fill: #a6bdc1;
      fill-opacity: 1;
      height: 100%;  
    }
  }
}
