.flashcards-info {
  p {
    line-height: 1.2em;
    font-size: 15px;
  }

  a {
    text-decoration: none;
    width: 100%;
  }

  .link {
    margin-top: 1em;
    border: 3px solid #ada1a1;
    border-radius: 6px;
    padding: 3px 0;
    width: 100%;
    display: flex;
    justify-content: center;

    color: black;
    transition: border .4s ease-in-out;
  }

  .link:hover {
    border: 3px solid #635757;
  }
}
