@import '../../../styles/variables.scss';

.theharvest-content {
  height: 100%;
  display: flex;
  justify-content: center;

  .title-cont {
    position: absolute;
    width: 100%;
    @media only screen and (max-width: $mobile-max) {
      display: flex;
      justify-content: center;
    }

    h1 {
      color: #cecece;
      text-shadow: 0 4px 4px rgba(0,0,0,0.25);
      font-size: 60px;
      margin-left: 20px;
      padding-top: 20px;

      @media only screen and (max-width: $mobile-max) {
        margin-left: 0;
      }
    }
  }

  .chart-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 90%;
    height: 100%;

    .chart {
      width: 45%;

      p {
        font-family: 'Raleway', serif;
        margin-top: 25px;
      }
    }
  }
}
