@import '../../../styles/variables.scss';

.theharvest-content {
  height: 100%;
  display: flex;
  justify-content: center;

  .title-cont {
    position: absolute;
    width: 100%;
    @media only screen and (max-width: $mobile-max) {
      display: flex;
      justify-content: center;
    }

    h1 {
      color: #cecece;
      text-shadow: 0 4px 4px rgba(0,0,0,0.25);
      font-size: 60px;
      margin-left: 20px;
      padding-top: 20px;

      @media only screen and (max-width: $mobile-max) {
        margin-left: 0;
        font-size: 100px;
      }
    }
  }

  .chart-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 90%;
    height: 100%;

    @media only screen and (max-width: $mobile-max) {
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 15%;
      box-sizing: border-box;
    }

    .chart {
      width: 45%;
      @media only screen and (max-width: $mobile-max) {
        width: 80%;
      }
      p {
        margin-top: 25px;
        @media only screen and (max-width: $mobile-max) {
          font-size: 30px;
        }
      }
    }
  }
}
