@import 'styles/variables.scss';

.body {
  height: calc(100vh - #{$header-height});
  display: flex;
  justify-content: center;
  align-items: center;

  .content-cont {
    height: $content-cont-height;
    width: $content-cont-width;
    box-shadow: 0 0 4px rgba(0,0,0,.25);
    display: flex;
    overflow: hidden;

    .content {
      width: 75%;
      height: 100%;
      position: relative;
    }

    .info {
      position: relative;
      width: $info-width;
      height: 100%;
      background-color: #F8ECEC;
      box-shadow: 0 0 4px rgba(0,0,0,.25); 
      z-index: 100;
    }
  }
}
